<html>
  <head>
    <title> Outlor | Color </title>
    <!-- Basscss -->
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <!-- Lato -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- main.css -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>

  <body class="flex flex-column min-h100vh">

    <!-- Nav -->
    <div class="container mx-auto p2 mt2">
      <div class="flex justify-between items-center">
        <a href="/" class="transition h3">Outlor</a>
        <div class="flex">
          <a href="/color?<%= query %>" class="transition ml3 black">Colors</a>
          <a href="/similarity?<%= query %>" class="transition ml3">Similarity</a>
        </div>
      </div>
    </div>

    <!-- Colors -->
    <div class="flex-auto container mx-auto p2 py4 relative">

      <!-- flash message -->
      <div id="flash-message-wrapper">
      </div>

<!--       <div id="flash-message" class="flash-message p3 flex shadow shadow-hover cursor-pointer">
        <div class="card-color-small" style="background-color: #f1f1f1"></div>
        <div class="flash-message-text italic ml2">rgba(255,255,255) has been copied</div>
      </div> -->

      <!-- Summary -->
      <div class="center h4 italic grey">
        There are
        <span class="bold h4 black"><%= colors.size %></span>
        different
        <span class="underline">colors</span>
         used.
      </div>


      <div class="flex flex-wrap">
        <%= console.log(colors) %>

        <% colors.forEach(function(colorData, color) { %>

          <!-- Color Card -->
          <div class="col-12 sm-col-6 md-col-4 lg-col-3 p4 relative">
            <div onclick="copyColorCode('<%= color %>')" class="card-color cursor-pointer" style="background-color: <%= color %>"></div>
            <div class="card-info flex flex-wrap items-center shadow shadow-hover transition">
                <div class="flex flex-column p3">
                  <div class="card-color-code grey black-hover cursor-pointer h3" onclick="copyColorCode('<%= color %>')">
                    <%= color %>
                  </div>
                  <% if(colorData.rgb) { %>
                    <div class="h5 grey cursor-pointer black-hover" onclick="copyColorCode('rgb(<%= colorData.rgb[0] %>, <%= colorData.rgb[1] %>, <%= colorData.rgb[2] %>)')">
                      rgb(<%= colorData.rgb[0] %>, <%= colorData.rgb[1] %>, <%= colorData.rgb[2] %>)
                    </div>
                  <% } %>
                </div>
                <a href="/info" class="p3 h2"><%= colorData.count %></a>
            </div>
          </div>

        <% }); %>
      </div>
    </div>

    <!-- Footer -->
    <div class="container mx-auto p2 pb3 flex justify-center">
      <div class="grey h5">Created by Martin and Lennon</div>
    </div>

  </body>


  <script>
    // copy color code
    function copyColorCode(value) {
      // copy the color code
      var node = document.createElement('input');
      node.value = value;
      document.body.appendChild(node);
      node.select();
      document.execCommand('copy');
      document.body.removeChild(node);

      // show flash message
      console.log(value + ' has been copied');

      var flash_message_wrapper = document.getElementById("flash-message-wrapper");

      while (flash_message_wrapper.firstChild) {
        flash_message_wrapper.removeChild(flash_message_wrapper.firstChild);
      }

      var flash_message = document.createElement('div');
      flash_message.className += "flash-message p3 flex shadow shadow-hover cursor-pointer";

      flash_message.style.opacity = "0";
      flash_message.style.transition = "all 0.15s ease 0s";

      flash_message.innerHTML = "<div class='card-color-small' style='background-color: " + value + "'></div><div class='flash-message-text italic ml2'>" + value + " copied</div>";

      flash_message_wrapper.appendChild(flash_message);

      setTimeout(function() {
        flash_message.style.opacity = "1";
      }, 100);

      setTimeout(function() {
        flash_message.style.opacity = "0";
        flash_message_wrapper.removeChild(flash_message);
      }, 4000);
    }
  </script>

</html>
