<html>
  <head>
    <title> Outlor | Color </title>
    <!-- Basscss -->
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <!-- Lato -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- main.css -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>

  <body class="flex flex-column min-h100vh">

    <!-- Nav -->
    <div class="container mx-auto p2">
      <div class="flex justify-between items-center">
        <a href="/" class="transition h3">Outlor</a>
        <div class="flex">
          <a href="/" class="transition ml3">New File</a>
          <a href="/color?<%= query %>" class="transition ml3 black">Color Book</a>
          <a href="/similarity?<%= query %>" class="transition ml3">Similarity</a>
        </div>
      </div>
    </div>

    <!-- Color Book -->
    <div class="flex-auto container mx-auto p2 py4">
      <!-- Summary -->
      <div class="center h4 italic grey">
        There are
        <span class="bold h4 black"><%= colors.size %></span>
        different
        <span class="underline">colors</span>
         used in your file
      </div>


      <div class="flex flex-wrap">
        <% colors.forEach(function(colorData, color) { %>
          <!-- Color Card -->
          <div class="col-12 sm-col-6 md-col-4 lg-col-3 p4 relative">
            <div class="card-color" style="background-color: <%= color %>"></div>
            <div class="card-info flex flex-wrap items-center shadow shadow-hover transition">
                <div class="flex flex-column p3">
                  <div class="h3"><%= color %></div>
                  <% if(colorData.rgb) { %>
                    <div class="h5 grey">
                      rgb(<%= colorData.rgb[0] %>, <%= colorData.rgb[1] %>, <%= colorData.rgb[2] %>)
                    </div>
                  <% } %>
                </div>
                <a href="#" class="p3 h2"><%= colorData.count %></a>
            </div>
          </div>
        <% }); %>
      </div>
    </div>

    <!-- Footer -->
    <div class="container mx-auto p2 pb3 flex justify-center">
      <div class="grey h5">Created by Martin and Lennon</div>
    </div>

  </body>
</html>
